.box {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 100px calc(50% - 200px);
    background-color: red;
}
.title {
    text-align: center;
    margin-top: 150px;
}
.text {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}